/*
COLOR PALETTE
Tan - #B68D40
Cream - #F4EBD0
Charcoal - #122620
Gold - #D6AD60
*/

body{
  background-color: #122620;
  color: white;
  font-family: Arial;
}

/*Navbar*/
ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  overflow: hidden;
}

li {
  float: right;
  font-weight: bold;
}

#logo a{
  margin: 0;
  padding:0;
}

#logo a img{
  margin: 25px;
  padding: 0 ;
  width: 45px;
  display: inline-block;
}

#home a{
  margin: 20px 0;
  padding:15px 0;
  font-size: 22px;
}

#home, #logo {
  float: left;
}

#action{
  color: #122620;
  background-color: #F4EBD0;
  border-radius: 10px;
  padding: 15px 20px;
  text-decoration: none;
  font-weight: bold;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  margin: 20px;
  text-decoration: none;
  font-size: 16px;
}

#section-par{
  display: flex;
  flex-wrap: wrap;
  margin: 80px auto;
  max-width: 80%;
}

#title{
  width: 100%;
  margin: 0px 50px;
}

/*Intro*/
.intro{
  margin: 20px 0px;
  max-width: 500px;
}

#issue{
  width: 22em;
}

/*Problems*/
.problem{
  margin: 20px 0px 20px 50px;
  width: 380px;
  display: flex;
  flex-wrap: wrap;
}

.problem h3{
  width: 250px;
}

.pair-par{
  display: flex;
  flex-wrap: wrap;
}

.icon{
  width: 100px;
  height: 100px;
  margin: 20px 20px 20px 0;
}

/*Footer*/
.footer{
  margin: 20px 50px;
  max-width: 50px;
}

#info{
  max-width: 150px;
}

/*Responsive UI*/
@media screen and (max-width: 900px) {
  li{display:none;}
  #home,#logo{display: block;}
  #issue{width: 16em;}
  .problem h3{width: 200px;}
}

/*Animations*/
